body {
    background: #041562;
    color: white;
    margin: 0;
    text-align: center;
}

.list a {
    display: block;
    color: bisque;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    transition: transform 0.5s;
    display: inline-block;
}

.list a :hover {
    transform: scale(1.2);
}

.listcontent p {
    display: inline-block;
    font-size: 2rem;
    margin: 20px auto;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.list-item {
    display: block;
}

.list {
    position: fixed;
    width: 50px;
    background-color: darkblue;
    margin: 0;
    height: 100%;
    top: 0;
}

.listcontent {
    background-color: #11468F;
    width: 40%;
    padding: 0.5rem 0;
    margin: 1rem auto;
    box-shadow: 0 0 15px black;
    text-align: left;
}

.content {
    margin-left: 60px;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: black;
}

input[type="checkbox"] {
    width: 2rem;
    min-height: 1rem;
}

.form-input {
    width: 40%;
    margin: 2rem auto;
}

input[type="text"] {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding: auto 10px;
}

input[type="text"]:focus {
    border: none;
}

button {
    font-size: 2rem;
    border-radius: 100%;
    margin-left: 10px;
    border: 1px solid black;
}